{% extends "base.html" %}

{% block title %}Admin{% endblock title %}

{% block body %}
    <div class="container-fluid mt-4 w-75">
        <div class="row">
            {% if messages %}
            {% for msg in messages %}
            {% if msg.tags == "success" %}
            <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
                <strong><i class="fa-solid fa-circle-check" style="color: #082b0c;"></i></strong>  {{msg}}
            {% elif msg.tags == "warning" %}
            <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
                <strong><i class="fa-solid fa-circle-minus" style="color: #70600f;"></i></strong>  {{msg}}
            {% endif %} 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endfor %}
            {% endif %}
            <div class="col m-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Editor </h5>
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="row m-2 p-0">
                            {{field.label_tag}} {{field}}
                            </div>
                            {% if field.errors %}
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <div>
                                    <i class="fa-solid fa-triangle-exclamation" style="color: #920c02;"></i>  {{field.errors|striptags}}
                                </div>
                              </div>
                            {% endif %}
                            {% endfor %}
                            <button type="submit" class="btn btn-success">Add</button>
                            {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="alert alert-danger"> <i class="fa-solid fa-triangle-exclamation" style="color: #920c02;"></i>  {{error}}</p>
                        {% endfor %}
                        {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col m-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Blogs</h5>
                        <table class="table table-dark table-hover">
                            <thead>
                                <tr>
                                  <th scope="col">no.</th>
                                  <th scope="col">Title</th>
                                  <th scope="col">Content</th> 
                                  <th scope="col">edit</th>
                                  <th scope="col">delete</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for blog in blogs %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{blog.title|title}}</td>
                                    <td>{{ blog.content|truncatewords:20 }}</td>
                                    <td><form action="{% url 'main:blog_edit' blog.id %}" method="get">
                                        <button type="submit" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></button>
                                    </form></td>
                                    <td><form action="{% url 'main:blog_delete' blog.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                    </form></td>
                                </tr>
                                {% endfor %}
                               
                              </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}