{% extends "base.html" %}
{% load static %}

{% block title %}Admin{% endblock title %}

{% block body %}
<div class="container-fluid mt-4 w-100">
  <div class="row">
    {% if messages %}
    {% for msg in messages %}
    {% if msg.tags == "success" %}
    <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
      <strong><i class="fa-solid fa-circle-check" style="color: #082b0c;"></i></strong> {{msg}}
      {% elif msg.tags == "warning" %}
      <div class="alert alert-{{msg.tags}} alert-dismissible fade show" role="alert">
        <strong><i class="fa-solid fa-circle-minus" style="color: #70600f;"></i></strong> {{msg}}
        {% elif msg.tags == "error" %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong><i class="fa-solid fa-right-from-bracket" style="color: #830b02;"></i></i></strong> {{msg}}
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% block admin %}
      {% if user.is_superuser %}
      <div class="col-md-5 m-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-user-tie" style="color: #fafafa;"></i> Editor</h5>
            <p class="card-text">View, add, edit, or remove Editor accounts.</p>
            <a href="{% url 'main:addeditor' %}" class="btn btn-primary">Manage Accounts</a>
          </div>
        </div>
      </div>{% endif %}
      <div class="col-md-5 m-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">News Blog </h5>
            <p class="card-text">View, add, edit, or remove student accounts.</p>
            <a href="{% url 'main:blog_add' %}" class="btn btn-primary">Manage Blogs</a>
          </div>
        </div>
      </div>
      {% endblock admin %}
<div class="container mt-4">
  <div class="row">
      {% for blog in blogs %}
      <div class="col-10 mb-3">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                  <div class="col-3">
                      <img src="{% static 'image/news.jpeg' %}" class="img-fluid">
                  </div>
                  <div class="col-9">
                      <h5 class="card-title display-5">{{ blog.title|title }}</h5>
                      <p class="card-text">{{ blog.content }}</p>
                  </div>
              </div>
              </div>
          </div>
      </div>
      {% endfor %}
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock body %}